header {
    position: fixed;
    top:0;
    left:0;
    right:0;
    overflow: hidden;
    /* background: #fff; */
    z-index: 999;
}
.hd-tit {
    height: 0.88rem;
    background:#d43d3d;
    position: relative;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
}
.abs-l {
    
    width: 108px;
    font-weight:600;
    position: absolute;
    top:50%;
    transform: translatey(-50%);
    font-size:28px;
    left:20px;
}
.abs-l a {
    background:url(../images/abs-l.png) no-repeat center;
    width: 0.64rem;
    height: 0.5rem;
    margin-left:.24rem;
    display: block;
    position: relative;
    background-size:contain;
}
.circle {
    width: 0.2rem;
    height: 0.2rem;
    position: absolute;
    top:2px;
    right:2px;
    background: #fff;
    border-radius: 10px;
}
.abs-m {
    width: 100%;
    line-height: .88rem;
    font-size:0;
    color:#fff;
    text-align: center;
    font-weight:bold;
    position: absolute;
    top:50%;
    transform: translatey(-50%);
    height: 0.88rem;
}
.abs-m a {
    padding-left:.3rem;
    width: 1.6rem;
    height: 0.88rem;
    background:url(../images/abs-m-text.png) no-repeat right center;
    background-size:1.66rem;
    display:inline-block;
    margin:0 auto;
}
.abs-m-logo {
    width: 0.5rem;
    height: 0.88rem;
    display:inline-block;
    background: url(../images/abs-m.png) no-repeat center;
    background-size:.3rem;
}
.abs-r {
    position: absolute;
    top:50%;
    right:.2rem;
    transform: translatey(-50%);
}
.abs-r a {
    background:url(../images/abs-r.png) no-repeat center;
    background-size:contain;
    width: 0.48rem;
    height: 0.48rem;
    display:block;
    margin-right:.24rem;
}
.top-menu-bar {
    background: #f4f5f6;
    width: 100%;
    height: 0.74rem;
    position: relative;
}
.top-menu-more {
    float: right;
    position: relative;
}
.top-menu-more a {
    width: 0.8rem;
    height: 0.72ren;
    display:block;
    height:.74rem;
    background: #fff;
}
.top-menu-more .menu-btn {
    width: 0.34rem;
    height: 0.34rem;
    position: absolute;
    top:50%;
    left:50%;
    margin-top:-.17rem;
    margin-left:-.17rem;
}
.menu-btn::after,.menu-btn::before {
    content:"";
    width: 0.04rem;
    height: 0.34rem;
    background: #f85959;
    display:block;
    margin:0 auto;
}
.menu-btn:after {
    position: absolute;
    left:50%;
    top:0;
    transform: translatex(-50%);
    transform: rotate(90deg);
}
.menu-btn::before{
    position: absolute;
    left:50%;
}
.top-menu-list {
    overflow-x: scroll;
    white-space:nowrap;
}
.top-menu-list::-webkit-scrollbar{
    display:none;
}
.top-menu-list a {
   margin:.1rem 0 .1rem .1rem;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
    white-space: nowrap;
    font-size:.34rem;
    padding:0 .2rem;
    height: 0.52rem;
    line-height: .52rem;
    color: #505050;
    display:inline-block;
    box-sizing: border-box;
}
.top-menu-bar::after{
    content: "";
    position: absolute;
    bottom:0;
    left:0;
    width: 100%;
    height: 0.01rem;
    background-image: -webkit-linear-gradient(top, transparent, transparent 40%, #ddd 40%);
    background-size: 100% 1px;
    background-position: bottom;
    background-repeat: no-repeat;
}
.container {
    position: relative;
    top:1.62rem;
    width: 100%;
    padding-bottom:1rem;
    overflow:auto;
    height: 10rem;
}
.has-action {
    padding:0 .3rem;
    border-bottom: 1px solid rgba(221, 221, 221, 0.6);
    font-size:0;
}
.has-action-lk {
    min-height:.84rem;
    padding:.32rem 0;
    display:block;
}
.item-tit {
    font-size:.34rem;
    line-height:.42rem;
    color:#222;
    font-weight:normal;
}
.item-info {
    color:#999;
    overflow-x: hidden;
    font-size:0;
    margin-top:0.12rem;
}
.space {
    margin-right:.1rem;
    font-size:.2rem;
    line-height:.24rem;
    vertical-align: middle;
}
.label {
    color: #f85959;
    border-radius: 4px;
    font-size:0.18rem;
    border: 1px solid #fff;
    text-align: center;
    display:inline-block;
    border-color: rgba(248, 89, 89, 0.5);
}
.stick-label {
    width: 0.48rem;
    border-color: rgba(248, 89, 89, 0.5);
}
.time {
    font-size:.2rem;
    vertical-align: middle;
}
.desc {
    width: 67%;
    display:inline-block;
    vertical-align: middle;
}
.img-margin-right {
    margin-right:.24rem;
}
.hot-label {
    width: 0.24rem;
}
.list-img-holder {
    overflow:hidden;
    vertical-align: middle;
    display:inline-block;
    width: 33%;
    height: 1.5rem;
    background:#efefef url(../images/mujia.png) no-repeat center;
    background-size:50%;
    position: relative;
}
.list-img-holder img {
    width: 100%;
    display:block;
}
.video-btn {
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin:auto;
    background:url(../images/video-btn.png) no-repeat center;
    display:block;
    background-size:.54rem;
}
.list-img-holder-large img{
    width: 100%;
    display:block;
}
.list-img-holder-large {
    margin-top:0.1rem;
}
.app-lable {
    width: 0.46rem;
}
.list-img-holder-hot {
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
}
.list-img-holder-hot img {
    -webkit-box-flex: 1;
    -ms-flexbox: 1;
    flex:1;
    width: 33.33%;
}
.footer {
    position: fixed;
    bottom:0;
    left:0;
    right:0;
    width: 100%;
    background: #fff;
    z-index: 999;
}
.footer a {
    height: 1rem;
    padding:0 .3rem;
    /* display:block; */
    display:flex;
    display:-webkit-flex;
    display:-ms-flexbox;
    align-items: center;
    -webkit-box-align: center;
    -ms-flex-align:center;
    justify-content: space-between;
    
}
.footer-logo{
    display:flex;
    /* justify-content: center; */
    flex-direction: row;
    align-items: center;
}
.open {
    font-size:.28rem;
    line-height: .56rem;
    height: 0.56rem;
    width: 1.44rem;
    background-image: linear-gradient(90deg,red,#ff5050);
    color: #fff;
    font-weight: 500;
    text-align: center;
    border-radius: .28rem;
}
.logo {
    background:url(../images/logo.png) no-repeat center;
    width: 0.72rem;
    height: 0.72rem;
    border: 1px solid #eee;
    border-radius: 7px;
    background-size:cover
}
p {
    line-height: .3rem;
    margin-left:0.16rem;
    color:#222;
    font-size:.28rem;
}